 body{
    background-color: white;
} 

main{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container {
    background: white;
}
.container h1{
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    font-size: bold;
}
.container p{
    font-size: 15px;
    color: rgb(18, 16, 16);
    padding-bottom: 10px;
}

.table-center{
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    margin: 2;
    height: 300px;
} 

.flex-container{
    display: flex;
    flex-direction:row;
    height: 200vh;
    flex-flow: row wrap;
    justify-content:baseline;
    align-items: center;
    border: 1px solid white;
    width: 70%;
    vertical-align: middle;
    font-size: 15px;
    margin: 2;
    padding: auto;
}  

.flex-item-1{
    background-color:hsl(31, 77%, 52%);
    width: 200px;
    height: 300px;
    flex:1;
    align-self: center;
    padding: 2em;
    border: 1px solid white;
    
}
.flex-item-2{
    background-color: hsl(184, 100%, 22%);
    width: 200px;
    height: 300px;
    flex:1;
    align-self: center;
    padding: 2em;
    border: 1px solid white;  
}
.flex-item-3{
    background-color: hsl(179, 100%, 13%);
    width: 200px;
    height: 300px;
    flex:1;
    align-self: center;
    padding: 2em;
    border: 1px solid white;
    
}