* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    display: flex;
    place-items:center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-areas:
    'a a b c'
    'd e e e'
    ;
    gap: 20px;
    width: 50%;
    margin: auto;
}

main div {
    padding: 2em;
    text-align: center;
    border-radius: 20px;
}

.item-a{
    background-color: blue;
    grid-area: a;
}

.item-b{
    background-color: white;
    grid-area: b;
}

.item-c{
    background-color: rgb(146, 60, 60);
    grid-area: c;
}

.item-d{
    background-color: purple;
    grid-area: d;
}

.item-e{
    background-color: rgb(197, 218, 15);
    grid-area: e;
}